Repository uswds/uswds, pull requests merged in 2020-05, with the labels that each got.

#3454 Remove deprecated mixin targeting aria-hidden
  src/stylesheets/components/_accordions.scss
  src/stylesheets/core/mixins/_screen-reader.scss
Labels: improves: accessibility, improves: correctness

#3455 Fix out-of-sync color tokens
  src/data/colors/indigo-cool.json
  src/stylesheets/core/system-tokens/_indigo-cool.scss
Labels: affects: colors, affects: tokens, improves: accessibility, improves: correctness

#3430 Add card component
  src/components/card/_card--basic.njk
  src/components/card/card--compare.njk
  src/components/card/card--test.njk
  src/components/card/card.config.yml
  src/components/card/card.njk
  src/components/test/kitchen-sink.config.yml
  src/components/test/kitchen-sink.njk
  src/js/components/combo-box.js
  src/stylesheets/components/_card.scss
  src/stylesheets/core/_properties.scss
  src/stylesheets/core/mixins/_add-aspect.scss
  src/stylesheets/core/mixins/_layout-grid.scss
  src/stylesheets/core/mixins/_typography.scss
  src/stylesheets/elements/form-controls/_character-count.scss
  src/stylesheets/elements/form-controls/_combo-box.scss
  src/stylesheets/packages/_usa-card.scss
  src/stylesheets/packages/_uswds-components.scss
  src/stylesheets/settings/_settings-components.scss
  src/stylesheets/theme/_uswds-theme-components.scss
  src/stylesheets/theme/styles.scss
  src/stylesheets/utilities/rules/add-aspect.scss
Labels: affects: card, needs: feedback

#3434 USWDS - Headers: Update usa-current styles.
  src/components/08-navigation/_nav-primary.njk
  src/components/08-navigation/nav-primary.config.yml
  src/stylesheets/components/_header.scss
Labels: affects: header, affects: nav

#3470 USWDS-3469 - Header: Fix mobile subnav in IE11.
  src/stylesheets/components/_megamenu.scss
Labels: affects: header, topic: IE11

#3458 USWDS-3450 - Autoprefixer: Add browserslist settings.
  .browserslistrc
  README.md
  config/gulp/browsers.js
  config/gulp/sass.js
Labels: affects: ci, affects: compiling, improves: correctness

#3468 USWDS-3073 - Mobile nav: Fix `ESC` key not closing on IE11.
  src/js/utils/focus-trap.js
Labels: affects: nav, improves: correctness

#3453 USWDS - Media Block: Use flexbox instead of floats.
  src/stylesheets/components/_media-block.scss
  src/stylesheets/core/mixins/_media-block-img.scss
Labels: affects: media-block, improves: accessibility, improves: functionality, improves: usability
