Repository uswds/uswds, pull requests merged in 2020-02, with the labels that each got.

#3280 USWDS-3216: Upgrade axe-core to 3.4.1.
  config/gulp/sass.js
  config/gulp/test.js
  package-lock.json
  package.json
  spec/.mocharc.json
  spec/axe-tester.js
  spec/chrome-fractal-tester.js
  spec/headless-chrome.js
  spec/mocha.opts
  spec/sass/build.spec.js
  spec/sass/include.spec.js
  spec/screenshots/main.js
  spec/visual-regression-tester.js
  src/components/_uswds.njk
  src/components/banner/banner.njk
  src/components/graphic-list/graphic-list.njk
  src/components/hero/hero.njk
  src/components/layouts/docs-inner.njk
  src/components/search/search.njk
  src/components/site-title/site-title.njk
  src/components/test/in-page-nav.njk
  src/components/test/kitchen-sink.njk
  tsconfig.json
Labels: affects: banner, affects: ci, affects: compiling, affects: graphic-list, affects: hero, affects: search, changes: dependencies, improves: accessibility, improves: functionality

#3298 USWDS-3297: Remove timeout from notifications.
  config/gulp/doc-util.js
Labels: improves: performance

#3284 USWDS-3130: Fix unhelpful error message for lh().
  src/stylesheets/core/_functions.scss
Labels: affects: functions, improves: functionality, topic: error messaging

#3304 Use Dart Sass for compiling
  config/gulp/sass.js
  package-lock.json
  package.json
  spec/sass/include.spec.js
  spec/sass/util.js
  src/stylesheets/components/_megamenu.scss
  src/stylesheets/core/_functions.scss
Labels: affects: compiling, improves: correctness, improves: stability

#3283 USWDS-3129: Add add-aspect mixin w/ documentation.
  src/components/utilities/aspect/aspect.config.yml
  src/components/utilities/aspect/aspect.njk
  src/stylesheets/core/_variables.scss
  src/stylesheets/core/mixins/_add-aspect.scss
  src/stylesheets/core/mixins/_all.scss
Labels: affects: documentation, affects: mixins

#3318 Add ARIA role to footer navigation
  src/components/10-footer/footer--big.njk
  src/components/10-footer/footer--slim.njk
  src/components/10-footer/footer.njk
  src/components/test/in-page-nav.njk
  src/stylesheets/core/_notifications.scss
Labels: affects: footer, improves: accessibility
