Repository uswds/uswds, pull requests merged in 2020-12, with the labels that each got.

#3824 USWDS - Forms: Update form alerts.
  src/components/07-form/controls/file-input.njk
  src/components/07-form/controls/text-input.njk
  src/components/test/input-alerts.njk
Labels: affects: forms, improves: accessibility

#3863 USWDS - Identifier: Update spanish USAGov link.
  src/components/identifier/identifier.config.yml
Labels: affects: identifier, improves: correctness

#3858 USWDS - Banner: Remove alt from decorative banner images.
  src/components/banner/banner.njk
Labels: affects: banner, improves: accessibility

#3856 USWDS - Deps: Update NVMRC and dependencies.
  .nvmrc
  package-lock.json
  package.json
Labels: topic: dependencies

#3861 USWDS - Search: Create Spanish variant.
  src/components/search/search.config.yml
  src/components/search/search.njk
Labels: affects: search, skill: spanish language

#3851 [FILE INPUT] fix multiple fix extension bug
  src/components/07-form/controls/file-input.config.yml
  src/js/components/file-input.js
Labels: affects: forms, type: bug
