Repository uswds/uswds, pull requests merged in 2020-07, with the labels that each got.

#3534 Replace unsplash links with a basic design system image
  src/components/card/_card--basic.njk
  src/components/card/card--compare.njk
  src/components/card/card--test.njk
  src/components/test/flex.njk
Labels: improves: continuity, improves: stability

#3533 USWDS - Breadcrumb: Remove ability to set custom breadcrumb icons.
  src/components/breadcrumb/breadcrumb--ordered.njk
  src/components/breadcrumb/breadcrumb--unordered.njk
  src/components/breadcrumb/breadcrumb.config.yml
  src/components/breadcrumb/breadcrumb.njk
  src/img/angle-arrow-right-white.svg
  src/img/angle-arrow-right.svg
  src/img/arrow-left-indigo-cool-50v.svg
  src/img/arrow-left-white.svg
  src/img/arrow-left.svg
  src/img/chevron-right-white.svg
  src/img/chevron-right.svg
  src/stylesheets/components/_banner.scss
  src/stylesheets/components/_breadcrumb.scss
  src/stylesheets/components/_tooltip.scss
  src/stylesheets/core/mixins/_icon.scss
  src/stylesheets/core/mixins/_set-link-from-bg.scss
  src/stylesheets/settings/_settings-components.scss
  src/stylesheets/theme/_uswds-theme-components.scss
Labels: affects: breadcrumb, epic: breadcrumb

#3504 USWDS - Breadcrumb: Create package for breadcrumb component.
  src/stylesheets/packages/_usa-breadcrumb.scss
  src/stylesheets/theme/styles.scss
Labels: affects: breadcrumb, affects: documentation, epic: breadcrumb

#3524 Update official government banner text
  src/components/banner/banner.config.yml
Labels: affects: banner, improves: correctness, improves: language support, improves: trust, needs: additional change to website

#3539 Update banner component
  src/components/banner/banner.config.yml
  src/components/banner/banner.njk
Labels: affects: banner, affects: settings, improves: continuity, improves: correctness, improves: functionality, improves: trust

#3488 Add breadcrumb component
  src/components/breadcrumb/_breadcrumb--metadata.njk
  src/components/breadcrumb/breadcrumb.config.yml
  src/components/breadcrumb/breadcrumb.njk
  src/components/test/kitchen-sink.njk
  src/img/angle-arrow-right-white.svg
  src/img/angle-arrow-right.svg
  src/img/arrow-left-indigo-cool-50v.svg
  src/img/arrow-left-white.svg
  src/img/arrow-left.svg
  src/img/chevron-right-white.svg
  src/img/chevron-right.svg
  src/stylesheets/components/_banner.scss
  src/stylesheets/components/_breadcrumb.scss
  src/stylesheets/components/_header.scss
  src/stylesheets/components/_skipnav.scss
  src/stylesheets/components/_tooltip.scss
  src/stylesheets/core/_properties.scss
  src/stylesheets/core/_variables.scss
  src/stylesheets/core/mixins/_add-link-styles.scss
  src/stylesheets/core/mixins/_all.scss
  src/stylesheets/core/mixins/_icon.scss
  src/stylesheets/core/mixins/_set-link-from-bg.scss
  src/stylesheets/packages/_usa-breadcrumb.scss
  src/stylesheets/packages/_uswds-components.scss
  src/stylesheets/settings/_settings-components.scss
  src/stylesheets/theme/_uswds-theme-components.scss
  src/stylesheets/theme/styles.scss
Labels: affects: breadcrumb, affects: utilities, needs: feedback
