Repository uswds/uswds, pull requests merged in 2020-06, with the labels that each got.

#3483 USWDS-3481 Allow dragging in combobox
  src/js/components/combo-box.js
Labels: affects: combo box

#3473 USWDS-3472 Remove colon from Combo Box example
  src/components/07-form/controls/combo-box.njk
Labels: affects: combo box

#3487 USWDS-3475 Combo Box Dispatch Change Event
  spec/unit/combo-box/combo-box-change-event.spec.js
  spec/unit/combo-box/combo-box-change-event.template.html
  src/js/components/combo-box.js
  src/js/polyfills/custom-event.js
  src/js/polyfills/index.js
Labels: affects: combo box

#3501 USWDS-3316: Add `role="img"` to component SVGs.
  src/components/08-navigation/_nav-primary.njk
  src/components/banner/banner.njk
Labels: affects: banner, affects: nav, changes: markup

#3486 USWDS-3477 USWDS-3482 Combo Box Data Attributes
  spec/unit/combo-box/combo-box-default-value.spec.js
  spec/unit/combo-box/combo-box-default-value.template.html
  spec/unit/combo-box/combo-box-placeholder.spec.js
  spec/unit/combo-box/combo-box-placeholder.template.html
  spec/unit/combo-box/combo-box.spec.js
  src/js/components/combo-box.js
Labels: affects: combo box

#3493 USWDS-3490 Combo Box Mouseover Selection
  spec/unit/combo-box/combo-box-change-event.spec.js
  spec/unit/combo-box/combo-box-disabled.spec.js
  spec/unit/combo-box/combo-box.spec.js
  src/js/components/combo-box.js
  src/stylesheets/elements/form-controls/_combo-box.scss
Labels: affects: combo box

#3492 USWDS-3491: Fix accent-cool contrast issues with a more dependable contrast tool
  src/stylesheets/core/_functions.scss
  src/stylesheets/core/_system-tokens.scss
  src/stylesheets/core/_variables.scss
  src/stylesheets/core/mixins/_all.scss
  src/stylesheets/core/mixins/_set-text-from-bg.scss
  src/stylesheets/elements/_buttons.scss
  src/stylesheets/settings/_settings-color.scss
  src/stylesheets/theme/_uswds-theme-color.scss
Labels: affects: button, improves: accessibility, improves: correctness
