Repository uswds/uswds, pull requests merged in 2021-02, with the labels that each got.

#3949 USWDS - Colors: Debug color contrast issues.
  package-lock.json
  package.json
  spec/unit/sass/sass-spec.js
  spec/unit/sass/tests.scss
  src/stylesheets/base/_body.scss
  src/stylesheets/components/_banner.scss
  src/stylesheets/components/_breadcrumb.scss
  src/stylesheets/components/_identifier.scss
  src/stylesheets/components/_site-alert.scss
  src/stylesheets/components/_summary-box.scss
  src/stylesheets/core/_functions.scss
  src/stylesheets/core/_system-tokens.scss
  src/stylesheets/core/_variables.scss
  src/stylesheets/core/mixins/_alert-status-styles.scss
  src/stylesheets/core/mixins/_icon.scss
  src/stylesheets/core/mixins/_set-link-from-bg.scss
  src/stylesheets/core/mixins/_set-text-from-bg.scss
  src/stylesheets/elements/_buttons.scss
  src/stylesheets/settings/_settings-color.scss
  src/stylesheets/settings/_settings-components.scss
  src/stylesheets/theme/_uswds-theme-color.scss
  src/stylesheets/theme/_uswds-theme-components.scss
Labels: improves: correctness, skill: accessibility, skill: front end, topic: accessibility, topic: color

#3907 USWDS - Combobox: Set matching label on ul and label.
  spec/unit/time-picker/time-picker.template.html
  src/js/components/combo-box.js
Labels: affects: combo box

#3948 USWDS - Footer: Add instagram social icon #3925
  spec/unit/footer/template.html
  src/components/footer/footer--big.njk
  src/components/footer/footer.njk
  src/img/social-icons/instagram25.png
  src/img/social-icons/instagram25.svg
  src/stylesheets/components/_footer.scss
Labels: affects: footer, affects: icons

#3932 Search: Prevent flexbox shrink on search component
  src/stylesheets/components/_search.scss
Labels: needs: confirmation, type: bug

#3987 USWDS - Expose all files for USWDS-Site.
  package.json
Labels: affects: component library, affects: documentation, skill: devops, skill: front end

#4014 USWDS -Dependencies: Update @frctl/fractal and @frctl/nunjucks.
  package-lock.json
  package.json
Labels: affects: component library
