Repository uswds/uswds, pull requests merged in 2024-02, with the labels that each got.

#5233 USWDS - Validation: Allow textareas to use validation (Enhancement)
  packages/usa-validation/src/index.js
  packages/usa-validation/src/test/template-textarea.html
  packages/usa-validation/src/test/validator-textarea.spec.js
  packages/usa-validation/src/usa-validation--textarea.twig
  packages/usa-validation/src/usa-validation.stories.js
Labels: Type: Enhancement, Package: Validation

#5657 USWDS - Button Group: Improve appearance of buttons with wrapping text
  packages/usa-button-group/src/styles/_usa-button-group.scss
  packages/usa-button-group/src/test/test-patterns/usa-button-group--test-text-wrapping.twig
  packages/usa-button-group/src/usa-button-group.stories.js
Labels: Type: Enhancement, Context: Sass, Package: Button Group, Role: Dev

#5783 USWDS - Table: Simplify scrollable table example for site
  packages/usa-table/src/usa-table--scrollable/usa-table--scrollable.json
  packages/usa-table/src/usa-table--scrollable/usa-table--scrollable.stories.js
  packages/usa-table/src/usa-table--scrollable/usa-table--scrollable.twig
  packages/usa-table/src/usa-table.twig
Labels: Package: Table
